@tailwind base;
@tailwind components;
@tailwind utilities;

body
.toilet{
  
}
@font-face {
  font-family: 'Dop';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');

}
.custom {
  font-family: 'Dop', sans-serif;
}

div{
  font-family: 'Dop', sans-serif;
}
h1{
  line-height: 50%;
  font-size: 136px;
}
h2 {
  line-height: 140%;
  font-size: 126px;
}
